
<link rel="stylesheet" href="css/footer.css">

<footer class="footer">
    <section class="footer-content">
        <nav class="footer-links">
            <a href="#">Política de privacidad</a>
            <span>|</span>
            <a href="#">Aviso legal</a>
            <span>|</span>
            <a href="#">Normas del zoo</a>
            <span>|</span>
            <a href="#">Términos y condiciones</a>
            <span>|</span>
            <a href="#">Política de cookies</a>
        </nav>
        <p class="footer-text">
            Todo el contenido del sitio web es propiedad de PARQUES REUNIDOS SERVICIOS CENTRALES, S.A. y/o sus filiales
            salvo que se indique lo contrario. Todos los derechos reservados.
        </p>
    </section>
</footer>
