<link  href="./css/navbar.css"   rel="stylesheet">

<div class="top-blur"></div>
<div class="navbar-container">
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links left">

                <li><a href="./sectionNoticias.html">Noticias</a></li>
                <li><a href="./InforDinos.html">Información</a></li>

            </ul>
            <div class="logo-container">
                <a href="./index.html"><img src="./img/favicon.png" alt="Jurassic Park" class="navbar-logo"></a>
            </div>
            <ul class="nav-links right">
                <li><a href="#">Tickets</a></li>
                <li><a href="./eventos.html">Eventos</a></li>
            </ul>
        </div>
    </nav>
</div>